[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SPLICE"]
	path = SPLICE
	url = https://github.com/agi-lab/splice
	subdir = SPLICE
[submodule "SynthETIC"]
	path = SynthETIC
	url = https://github.com/agi-lab/synthetic
	subdir = SynthETIC
